@import "./../../../util/theme.scss";

.barRectangle-0{
    fill:$pallete-0;
    stroke:$pallete-0;
}

.barRectangle-1{
    fill:$pallete-1;
    stroke:$pallete-1;
}

.barRectangle-2{
    fill:$pallete-2;
    stroke:$pallete-2;
}

.barRectangle-3{
    fill:$pallete-3;
    stroke:$pallete-3;
}

.barRectangle-4{
    fill:$pallete-4;
    stroke:$pallete-4;
}
